
@{
    ViewBag.Title = "ReaderHome";
}

@model Ignition.Repo.Model.User

<h2 style="margin:0,auto;text-align:center">Welcome!</h2>


<div id="container" style=" text-align:center">
    <ul id="list" style="list-style-type:none">
        <li><button id="readButton" >Read Document</button> </li>
        <br />
        <li><button id="viewFlowButton" >View General Flow States</button></li>
    </ul>
</div>

<style>
    #list button{
        background-color: aliceblue;
        width:50%;
        height: 40px;
        border-radius: 8px;
    }
</style>


