.idea/misc.xml
.idea/workspace.xml
Ignition/.vs/*
Ignition/Ignition.Repo/Ignition.Repo.csproj
*.dll
*.config
*.pdb
*.cache
Ignition.Repo.csproj.FileListAbsolute.txt
Ignition.API.csproj.FileListAbsolute.txt
Ignition.API.csproj
